<div class="main-layout">
    
  <div class="sidebar" [class.collapsed]="isSidebarCollapsed">
    <div class="logo-container">
      <img *ngIf="!isSidebarCollapsed" src="assets/logo.png" alt="Profit-Syslam Logo">
      <button class="sidebar-toggle" (click)="toggleSidebar()" [title]="isSidebarCollapsed ? 'Expandir menú' : 'Colapsar menú'">
        <i class="fas" [ngClass]="isSidebarCollapsed ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
      </button>
    </div>

    <nav class="main-nav">

      <div *ngFor="let section of menuSections" class="menu-section">
        <h3 class="menu-section-header">{{ section.title }}</h3>


        <ng-container *ngFor="let item of section.items">
            <!-- Elemento de menú normal -->
            <a *ngIf="!item.children" class="nav-item" (click)="selectComponent(item.id)" [class.active]="activeMenu === item.id"
            routerLink="{{ item.route }}">
              <i [class]="item.icon"></i> <span class="nav-label">{{ item.name }}</span>
            </a>
            <!-- Elemento de menú con acordeón -->
            <div *ngIf="item.children" class="accordion">
              <div class="accordion-header" (click)="toggleAccordion(item.id)">
                <a class="nav-item">
                  <i [class]="item.icon"></i> <span class="nav-label">{{ item.name }}</span>
                </a>
                <i class="fas fa-chevron-down" [class.rotated]="accordions[item.id]"></i>
              </div>
              <div class="accordion-content" [class.show]="accordions[item.id]">
                <a *ngFor="let child of item.children" class="nav-item sub-item" (click)="selectComponent(child.id)" [class.active]="activeMenu === child.id"
                routerLink="{{ child.route }}">
                  <span class="nav-label">{{ child.name }}</span>
                </a>
              </div>
            </div>
          </ng-container>
        
    </div>

    </nav>


    <div class="sidebar-footer">
      <a class="nav-item theme-switcher" (click)="toggleTheme()" title="Cambiar tema">
        <i class="fas" [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"></i>
        <span class="nav-label">{{ isDarkMode ? 'Modo Claro' : 'Modo Oscuro' }}</span>
      </a>
      <a class="nav-item logout-btn" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> <span class="nav-label">Cerrar Sesión</span>
      </a>
    </div>

  </div>

  <div class="main-content">
    <div class="page-content-wrapper">
      <router-outlet></router-outlet>
  </div>

</div>