<!-- Contenedor principal de la página de inscripción -->
<div class="enroll-client-container">

    <div *ngIf="!accessComplete; else successScreen">
        <h2 class="page-title">Acceso a Clientes</h2>

      

        <!-- Wizard Content -->
        <div class="wizard-content">
            <div [ngSwitch]="wizardStep">
                <!-- Paso 1: Datos Personales -->
                <div *ngSwitchCase="1">
                    <h3 class="step-title">Introduce tu codigo</h3>
                    <div class="wizard-form">
                        <div class="form-grid">
                            <div class="form-field">
                                <label for="email">Email</label>
                                <input id="email" type="email" [(ngModel)]="newClient.email" placeholder="juan.perez@correo.com">
                            </div>
                          
                            <div class="form-field">
                                <label for="dob">Fecha de Nacimiento</label>
                                <input id="dob" type="date" [(ngModel)]="newClient.dob">
                            
                            </div>
                        </div>
                    </div>

                    <div *ngIf="invalidAccess">
                        <p class="error-message">Datos inválidos. Inténtalo de nuevo.</p>
                    </div>
                    
                </div>

            </div>
        </div>

        <!-- Wizard Footer -->
        <div class="wizard-footer">
            <button class="primary-button" (click)="submitWizard()">Continuar</button>
        </div>
    </div>

    <ng-template #successScreen>
        <div class="success-container">
            <div class="success-icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <h3>¡Acceso Exitoso!</h3>
            <p>Has accedido exitosamente a <strong> Profit</strong>.</p>
            <div class="success-actions">
                <button class="primary-button" (click)="newAccess()">
                    <i class="fas fa-receipt"></i> Nuevo Acceso
                </button>
            </div>
        </div>
    </ng-template>

</div>

